samco/Service References/ServiceReference3/ACXMobileCustomeService83.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ams-erpqsvr:8102/DynamicsAx/Services/ACXMobileCustomeService?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="MobileCustomeServiceGetCalenderDaysTimeSheetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_EmployeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceGetCalenderDaysTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfACX_DCGetCalenderTimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveEmployeesIdsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_manager" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveEmployeesIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfACX_DCEmployeeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRejectTimeSheetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_DCRejectTimeSheet" nillable="true" type="q3:ACX_DCRejectTimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRejectTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:ACX_ReturnTimeSheetAttributes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveManagerEmployeesIdsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_manager" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveManagerEmployeesIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q5:ArrayOfACX_DCEmployeeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceEditMyTimeSheetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_TransactionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceEditMyTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:ArrayOfACX_DCEditTimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveManagerProjIdsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_EmployeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveManagerProjIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q7:ArrayOfACX_DCProjList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveNewLinePropertyIdsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveNewLinePropertyIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q8:ArrayOfACX_DCLinePropertyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceGetMyTimeSheetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_EmployeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceGetMyTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q9:ArrayOfACX_DCGetTimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceLoginInMobilePortalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_loginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceLoginInMobilePortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:ACX_ReturnLoginAttributes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveLinePropertyIdsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveLinePropertyIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q11:ArrayOfACX_DCLinePropertyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjCategoryIdsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_projId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjCategoryIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q12:ArrayOfACX_DCCategoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveNPGSectionCodeIdsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_NPGCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveNPGSectionCodeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q13:ArrayOfACX_DCNPGSectionCodeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjectCategoryIdsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_projId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjectCategoryIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q14:ArrayOfACX_DCCategoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjIdsNewRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_EmployeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjIdsNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q15:ArrayOfACX_DCProjList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceReviewTimeSheetByTimekeeperRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_manager" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_timekeeper" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceReviewTimeSheetByTimekeeperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q16:ArrayOfACX_DCReviewTimeSheetByTimeKeeker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceSaveTimeSheetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_DCSaveTimeSheet" nillable="true" type="q17:ACX_DCSaveTimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceSaveTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q18:ACX_ReturnTimeSheetAttributes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjDetailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_projId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_EmployeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q19:ArrayOfACX_DCProjDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjIdsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_EmployeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveProjIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q20:ArrayOfACX_DCProjList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveNPGCodeIdsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_EmployeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceRetrieveNPGCodeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q21:ArrayOfACX_DCNPGCodeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceReviewTimeSheetByMatterRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_Manager" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_projid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceReviewTimeSheetByMatterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q22:ArrayOfACX_DCReviewTimeSheetByMatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceSearchProjectRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ProjId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_EmployeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCustomeServiceSearchProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q23:ArrayOfACX_DCProjListSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>